# Список зависимостей проекта

python-dotenv==1.0.0
requests==2.31.0
# aiogram==3.4.1  # Временно отключено для MVP
# websockets==12.0  # Временно отключено для MVP
# aiohttp==3.9.3  # Временно отключено для MVP
